# Class for Scraping Last Saturday's Registrations

In [121]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
from datetime import datetime, timedelta

class WebDataScraper:
    def __init__(self):
        self.saturdays_in_2024 = self.saturdays(2024)
        self.json_data = ""

    # Generate a list of all Saturdays in the year up to the current date.
    @staticmethod
    def saturdays(year : int):
        SAT = 5
        START_MONTH = 1
        START_DAY = 1
        start_date = datetime(year, START_MONTH, START_DAY) # starting on Jan 1
        start_day_of_the_week = start_date.weekday()
        days_until_saturday = SAT - start_day_of_the_week
        if days_until_saturday < 0:
            days_until_saturday += 7
        upcoming_sat = start_date + timedelta(days = days_until_saturday)
        
        saturdays = []
        saturdays.append(start_date.strftime('%m/%d/%Y')) # data starts at jan 1
        current_sat = upcoming_sat
        
        while current_sat < datetime.now():
            saturdays.append(current_sat.strftime('%m/%d/%Y'))
            current_sat += timedelta(weeks=1)

        return saturdays
    
    # Fetch data from the URL for the given Saturday and store the JSON content.
    def fetch_data(self, saturday_date : str):
        url = f'https://vt.ncsbe.gov/RegStat/Results/?date={saturday_date}'
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        scripts = soup.find_all('script')

        self.json_data = ""  # Clear previous JSON data

        for script in scripts:
            if script.string and 'SetupGrid' in script.string:
                script_content = script.string
                start_index = script_content.find("var data = ")
                end_index = script_content.find("// initialize the igGrid control")
                if start_index != -1 and end_index != -1:
                    self.json_data = script_content[start_index + len("var data = "):end_index].strip()
                    break

        if self.json_data:
            self.json_data = self.json_data.rstrip(',')
        else:
            raise ValueError("JSON data not found.")
        
    # Parse the JSON data into a DataFrame and add a 'Week Ending' column.
    def parse_json(self, saturday_date : str):
        if not self.json_data:
            raise ValueError("No JSON data to parse.")

        data = json.loads(self.json_data)
        df = pd.DataFrame(data)

        # Drop the 'AppVersion' column
        if 'AppVersion' in df.columns:
            df = df.drop(columns=['AppVersion'])

        # Add the 'Date' column with the Saturday's date
        df['Week Ending'] = saturday_date


        # Capitalize the first letter of each county name
        df['CountyName'] = df['CountyName'].str.capitalize()
        
        return df
    
    # Fetch and parse data for all Saturdays in the year, returning a list of DataFrames.
    def sat_dataframes(self):
        dfs = []
        for sat in self.saturdays_in_2024:
            self.fetch_data(sat) # NO!!
            df = self.parse_json(sat)
            dfs.append(df)
        return dfs

In [122]:
# Create an instance of the WebDataScraper class
scraper = WebDataScraper()

# Fetch and process the data, returning a DataFrame
sat_dfs = scraper.sat_dataframes()

# Merge FIPS with scraped dataframe
df_fips = pd.read_csv('FIPS.csv')
df_fips['FIPS'] = df_fips['FIPS'].astype(str).str.zfill(3)

voter_registration_by_fips_dfs = []

for df, sat_date in zip(sat_dfs, scraper.saturdays_in_2024):
    merged_df = pd.merge(df, df_fips, left_on='CountyName', right_on='County', how='inner')
    
    # Drop the 'CountyName' column
    merged_df = merged_df.drop(columns=['CountyName'])

    # Capitalize the first letter of each county name
    merged_df['County'] = merged_df['County'].str.capitalize()

    # Reorder columns to put 'County' and 'FIPS_Code' at the front
    columns_order = ['County', 'FIPS'] + [col for col in merged_df.columns if col not in ['County', 'FIPS']]
    merged_df = merged_df[columns_order]
    
    voter_registration_by_fips_dfs.append(merged_df)

# Concatenate all dataframes into one
combined_df = pd.concat(voter_registration_by_fips_dfs, ignore_index=True)
combined_df.to_csv('combined_data.csv', index=False)

In [120]:
import pandas as pd
from datetime import datetime
import plotly.express as px

# Assuming 'voter_registration_by_fips_dfs' is a list of DataFrames with registration data
def calculate_weekly_changes(dfs):
    all_dfs = pd.concat(dfs)
    all_dfs['Week Ending'] = pd.to_datetime(all_dfs['Week Ending'], format='%m/%d/%Y')

    # Ensure data is sorted by 'County' and 'Week Ending'
    all_dfs = all_dfs.sort_values(by=['County', 'Week Ending'])

    # Calculate the weekly change for each county
    all_dfs['Weekly Change'] = all_dfs.groupby('County')['Total'].diff().fillna(0)
    
    return all_dfs

In [108]:
def plot_weekly_changes(df):
    fig = px.line(df,
                  x='Week Ending',
                  y='Weekly Change',
                  color='County',
                  title='Weekly Changes in Voter Registrations',
                  labels={'Weekly Change': 'Change in Registrations'},
                  line_shape='linear')

    fig.update_layout(xaxis_title='Date', yaxis_title='Change in Registrations')
    fig.update_traces(mode='lines+markers')

    fig.show()

df_with_changes = calculate_weekly_changes(voter_registration_by_fips_dfs)
df_with_changes[df_with_changes['County'] == 'Alamance']
df_with_changes.head(30)
# plot_weekly_changes(df_with_changes)

,County,FIPS,Democrats,Republicans,Libertarians,Green,NoLabels,Constitution,JusticeForAll,WeThePeople,...,Multiracial,Undesignated,Other,Hispanic,Male,Female,UnDisclosedGender,Total,Week Ending,Weekly Change
0,Alamance,001,37085,36406,697,24,33,0,0,0,...,671,9579,4467,5873,47037,57081,8680,112798,2024-01-01,0.0
0,Alamance,001,37115,36495,697,24,36,0,0,0,...,670,9571,4501,5894,47142,57217,8680,113039,2024-01-13,241.0
0,Alamance,001,37217,36669,704,24,40,0,0,0,...,670,9575,4637,6010,47468,57529,8690,113687,2024-01-20,648.0
0,Alamance,001,37222,36709,702,24,43,0,0,0,...,669,9578,4672,6035,47551,57607,8712,113870,2024-01-27,183.0
0,Alamance,001,37215,36744,703,24,49,0,0,0,...,669,9583,4687,6048,47591,57650,8724,113965,2024-02-03,95.0
0,Alamance,001,37104,36697,701,25,51,0,0,0,...,669,9589,4704,6060,47517,57577,8736,113830,2024-02-10,-135.0
0,Alamance,001,37095,36697,700,25,51,0,0,0,...,670,9585,4712,6062,47517,57570,8739,113826,2024-02-17,-4.0
0,Alamance,001,37084,36682,700,25,51,0,0,0,...,671,9575,4712,6062,47500,57555,8731,113786,2024-02-24,-40.0
0,Alamance,001,37082,36672,699,25,51,0,0,0,...,672,9575,4711,6061,47496,57526,8731,113753,2024-03-02,-33.0
0,Alamance,001,37074,36673,698,25,51,0,0,0,...,672,9575,4711,6059,47490,57528,8731,113749,2024-03-09,-4.0
0,Alamance,001,37095,36693,699,25,51,0,0,0,...,673,9574,4711,6058,47521,57552,8729,113802,2024-03-16,53.0
0,Alamance,001,37078,36679,699,25,51,0,0,0,...,673,9572,4711,6058,47502,57527,8727,113756,2024-03-23,-46.0
0,Alamance,001,37051,36656,698,25,51,0,0,0,...,673,9567,4708,6057,47467,57490,8723,113680,2024-03-30,-76.0
0,Alamance,001,37035,36646,697,25,51,0,0,0,...,673,9562,4708,6057,47446,57473,8717,113636,2024-04-06,-44.0
0,Alamance,001,37034,36645,697,25,51,0,0,0,...,673,9562,4708,6057,47444,57471,8717,113632,2024-04-13,-4.0
0,Alamance,001,36989,36610,696,25,51,0,0,0,...,673,9560,4707,6057,47390,57420,8715,113525,2024-04-20,-107.0
0,Alamance,001,36986,36606,694,25,51,0,0,0,...,673,9560,4705,6057,47377,57417,8715,113509,2024-04-27,-16.0
0,Alamance,001,36954,36588,694,25,51,0,0,0,...,673,9558,4705,6057,47351,57380,8714,113445,2024-05-04,-64.0
0,Alamance,001,36929,36572,694,25,51,0,0,0,...,673,9555,4705,6056,47332,57351,8713,113396,2024-05-11,-49.0
0,Alamance,001,36926,36571,694,25,51,0,0,0,...,673,9555,4705,6056,47330,57348,8712,113390,2024-05-18,-6.0
0,Alamance,001,36909,36556,694,25,51,0,0,0,...,672,9551,4704,6055,47317,57318,8708,113343,2024-05-25,-47.0
0,Alamance,001,36916,36759,695,26,69,0,0,0,...,670,9571,4816,6142,47613,57658,8814,114085,2024-06-01,742.0
0,Alamance,001,36968,36970,698,28,90,0,0,0,...,673,9605,4933,6264,47934,58027,8905,114866,2024-06-08,781.0
0,Alamance,001,36961,36973,700,28,96,0,0,0,...,672,9614,4938,6283,47948,58037,8919,114904,2024-06-15,38.0
0,Alamance,001,36962,36985,701,29,99,0,0,0,...,672,9642,4939,6299,47964,58061,8944,114969,2024-06-22,65.0
0,Alamance,001,36933,36958,701,29,104,0,0,0,...,672,9675,4953,6337,47964,58049,8969,114982,2024-06-29,13.0
0,Alamance,001,36930,36952,701,31,105,0,0,0,...,674,9709,4960,6368,47986,58063,8995,115044,2024-07-06,62.0
0,Alamance,001,36919,36963,700,31,106,0,0,0,...,674,9744,4971,6426,48022,58064,9023,115109,2024-07-13,65.0
0,Alamance,001,36881,37001,697,32,108,0,0,0,...,673,9769,4986,6458,48032,58078,9037,115147,2024-07-20,38.0
0,Alamance,001,36839,36981,691,31,110,0,0,0,...,672,9814,4981,6500,48006,58033,9046,115085,2024-07-27,-62.0

In [74]:
for df in voter_registration_by_fips_dfs:
    # print(type(df))
    print(df[['County', 'Total', 'Week Ending']])
    print('')

       County   Total Week Ending
0    Alamance  112798  01/01/2024
1   Alexander   24990  01/01/2024
2   Alleghany    7907  01/01/2024
3       Anson   16127  01/01/2024
4        Ashe   20088  01/01/2024
..        ...     ...         ...
94      Wayne   74143  01/01/2024
95     Wilkes   43847  01/01/2024
96     Wilson   54840  01/01/2024
97     Yadkin   24761  01/01/2024
98     Yancey   14226  01/01/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113039  01/13/2024
1   Alexander   25207  01/13/2024
2   Alleghany    7940  01/13/2024
3       Anson   16218  01/13/2024
4        Ashe   20220  01/13/2024
..        ...     ...         ...
94      Wayne   74626  01/13/2024
95     Wilkes   44099  01/13/2024
96     Wilson   55220  01/13/2024
97     Yadkin   24901  01/13/2024
98     Yancey   14317  01/13/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113687  01/20/2024
1   Alexander   25211  01/20/2024
2   Alleghany    7945  01/20/2024
3       Anson   16227  01/20/2024
4        Ashe   20230  01/20/2024
..        ...     ...         ...
94      Wayne   74643  01/20/2024
95     Wilkes   44071  01/20/2024
96     Wilson   55184  01/20/2024
97     Yadkin   24919  01/20/2024
98     Yancey   14301  01/20/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113870  01/27/2024
1   Alexander   25212  01/27/2024
2   Alleghany    7950  01/27/2024
3       Anson   16239  01/27/2024
4        Ashe   20241  01/27/2024
..        ...     ...         ...
94      Wayne   74679  01/27/2024
95     Wilkes   44110  01/27/2024
96     Wilson   55196  01/27/2024
97     Yadkin   24936  01/27/2024
98     Yancey   14315  01/27/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113965  02/03/2024
1   Alexander   25224  02/03/2024
2   Alleghany    7958  02/03/2024
3       Anson   16235  02/03/2024
4        Ashe   20248  02/03/2024
..        ...     ...         ...
94      Wayne   74646  02/03/2024
95     Wilkes   44151  02/03/2024
96     Wilson   55219  02/03/2024
97     Yadkin   24960  02/03/2024
98     Yancey   14321  02/03/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113830  02/10/2024
1   Alexander   25212  02/10/2024
2   Alleghany    7974  02/10/2024
3       Anson   16243  02/10/2024
4        Ashe   20246  02/10/2024
..        ...     ...         ...
94      Wayne   74708  02/10/2024
95     Wilkes   44204  02/10/2024
96     Wilson   55233  02/10/2024
97     Yadkin   24980  02/10/2024
98     Yancey   14331  02/10/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113826  02/17/2024
1   Alexander   25222  02/17/2024
2   Alleghany    7969  02/17/2024
3       Anson   16244  02/17/2024
4        Ashe   20264  02/17/2024
..        ...     ...         ...
94      Wayne   74696  02/17/2024
95     Wilkes   44182  02/17/2024
96     Wilson   55247  02/17/2024
97     Yadkin   24957  02/17/2024
98     Yancey   14355  02/17/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113786  02/24/2024
1   Alexander   25207  02/24/2024
2   Alleghany    7961  02/24/2024
3       Anson   16096  02/24/2024
4        Ashe   20265  02/24/2024
..        ...     ...         ...
94      Wayne   74674  02/24/2024
95     Wilkes   44138  02/24/2024
96     Wilson   55181  02/24/2024
97     Yadkin   24959  02/24/2024
98     Yancey   14354  02/24/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113753  03/02/2024
1   Alexander   25195  03/02/2024
2   Alleghany    7965  03/02/2024
3       Anson   16093  03/02/2024
4        Ashe   20269  03/02/2024
..        ...     ...         ...
94      Wayne   74592  03/02/2024
95     Wilkes   44144  03/02/2024
96     Wilson   55161  03/02/2024
97     Yadkin   24963  03/02/2024
98     Yancey   14326  03/02/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113749  03/09/2024
1   Alexander   25190  03/09/2024
2   Alleghany    7967  03/09/2024
3       Anson   16095  03/09/2024
4        Ashe   20254  03/09/2024
..        ...     ...         ...
94      Wayne   74591  03/09/2024
95     Wilkes   44135  03/09/2024
96     Wilson   55163  03/09/2024
97     Yadkin   24964  03/09/2024
98     Yancey   14330  03/09/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113802  03/16/2024
1   Alexander   25191  03/16/2024
2   Alleghany    7958  03/16/2024
3       Anson   16098  03/16/2024
4        Ashe   20247  03/16/2024
..        ...     ...         ...
94      Wayne   74588  03/16/2024
95     Wilkes   44078  03/16/2024
96     Wilson   55161  03/16/2024
97     Yadkin   24963  03/16/2024
98     Yancey   14330  03/16/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113756  03/23/2024
1   Alexander   25192  03/23/2024
2   Alleghany    8005  03/23/2024
3       Anson   16096  03/23/2024
4        Ashe   20247  03/23/2024
..        ...     ...         ...
94      Wayne   74547  03/23/2024
95     Wilkes   44072  03/23/2024
96     Wilson   55097  03/23/2024
97     Yadkin   24922  03/23/2024
98     Yancey   14304  03/23/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113680  03/30/2024
1   Alexander   25184  03/30/2024
2   Alleghany    8003  03/30/2024
3       Anson   16072  03/30/2024
4        Ashe   20235  03/30/2024
..        ...     ...         ...
94      Wayne   74543  03/30/2024
95     Wilkes   44070  03/30/2024
96     Wilson   55094  03/30/2024
97     Yadkin   24919  03/30/2024
98     Yancey   14304  03/30/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113636  04/06/2024
1   Alexander   25144  04/06/2024
2   Alleghany    8003  04/06/2024
3       Anson   16072  04/06/2024
4        Ashe   20235  04/06/2024
..        ...     ...         ...
94      Wayne   74472  04/06/2024
95     Wilkes   44065  04/06/2024
96     Wilson   55112  04/06/2024
97     Yadkin   24917  04/06/2024
98     Yancey   14301  04/06/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113632  04/13/2024
1   Alexander   25141  04/13/2024
2   Alleghany    7998  04/13/2024
3       Anson   16072  04/13/2024
4        Ashe   20212  04/13/2024
..        ...     ...         ...
94      Wayne   74457  04/13/2024
95     Wilkes   44068  04/13/2024
96     Wilson   55109  04/13/2024
97     Yadkin   24914  04/13/2024
98     Yancey   14277  04/13/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113525  04/20/2024
1   Alexander   25139  04/20/2024
2   Alleghany    7997  04/20/2024
3       Anson   16069  04/20/2024
4        Ashe   20199  04/20/2024
..        ...     ...         ...
94      Wayne   74451  04/20/2024
95     Wilkes   44068  04/20/2024
96     Wilson   55110  04/20/2024
97     Yadkin   24884  04/20/2024
98     Yancey   14269  04/20/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113509  04/27/2024
1   Alexander   25116  04/27/2024
2   Alleghany    7995  04/27/2024
3       Anson   16031  04/27/2024
4        Ashe   20195  04/27/2024
..        ...     ...         ...
94      Wayne   74449  04/27/2024
95     Wilkes   44063  04/27/2024
96     Wilson   55154  04/27/2024
97     Yadkin   24881  04/27/2024
98     Yancey   14267  04/27/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113445  05/04/2024
1   Alexander   25110  05/04/2024
2   Alleghany    7995  05/04/2024
3       Anson   16031  05/04/2024
4        Ashe   20187  05/04/2024
..        ...     ...         ...
94      Wayne   74379  05/04/2024
95     Wilkes   44063  05/04/2024
96     Wilson   55165  05/04/2024
97     Yadkin   24880  05/04/2024
98     Yancey   14267  05/04/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113396  05/11/2024
1   Alexander   25112  05/11/2024
2   Alleghany    7991  05/11/2024
3       Anson   16031  05/11/2024
4        Ashe   20185  05/11/2024
..        ...     ...         ...
94      Wayne   74377  05/11/2024
95     Wilkes   44062  05/11/2024
96     Wilson   55188  05/11/2024
97     Yadkin   24880  05/11/2024
98     Yancey   14269  05/11/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113390  05/18/2024
1   Alexander   25110  05/18/2024
2   Alleghany    7991  05/18/2024
3       Anson   16031  05/18/2024
4        Ashe   20180  05/18/2024
..        ...     ...         ...
94      Wayne   74363  05/18/2024
95     Wilkes   44062  05/18/2024
96     Wilson   55234  05/18/2024
97     Yadkin   24834  05/18/2024
98     Yancey   14250  05/18/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  113343  05/25/2024
1   Alexander   25103  05/25/2024
2   Alleghany    7987  05/25/2024
3       Anson   16073  05/25/2024
4        Ashe   20176  05/25/2024
..        ...     ...         ...
94      Wayne   74334  05/25/2024
95     Wilkes   43971  05/25/2024
96     Wilson   55250  05/25/2024
97     Yadkin   24818  05/25/2024
98     Yancey   14236  05/25/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  114085  06/01/2024
1   Alexander   25411  06/01/2024
2   Alleghany    8056  06/01/2024
3       Anson   16204  06/01/2024
4        Ashe   20369  06/01/2024
..        ...     ...         ...
94      Wayne   74969  06/01/2024
95     Wilkes   43984  06/01/2024
96     Wilson   55355  06/01/2024
97     Yadkin   25050  06/01/2024
98     Yancey   14207  06/01/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  114866  06/08/2024
1   Alexander   25334  06/08/2024
2   Alleghany    8055  06/08/2024
3       Anson   16207  06/08/2024
4        Ashe   20429  06/08/2024
..        ...     ...         ...
94      Wayne   74928  06/08/2024
95     Wilkes   44065  06/08/2024
96     Wilson   55503  06/08/2024
97     Yadkin   25148  06/08/2024
98     Yancey   14424  06/08/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  114904  06/15/2024
1   Alexander   25337  06/15/2024
2   Alleghany    8055  06/15/2024
3       Anson   16214  06/15/2024
4        Ashe   20418  06/15/2024
..        ...     ...         ...
94      Wayne   74959  06/15/2024
95     Wilkes   44380  06/15/2024
96     Wilson   55492  06/15/2024
97     Yadkin   25135  06/15/2024
98     Yancey   14413  06/15/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  114969  06/22/2024
1   Alexander   25326  06/22/2024
2   Alleghany    8060  06/22/2024
3       Anson   16233  06/22/2024
4        Ashe   20423  06/22/2024
..        ...     ...         ...
94      Wayne   75081  06/22/2024
95     Wilkes   44415  06/22/2024
96     Wilson   55480  06/22/2024
97     Yadkin   25119  06/22/2024
98     Yancey   14426  06/22/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  114982  06/29/2024
1   Alexander   25307  06/29/2024
2   Alleghany    8052  06/29/2024
3       Anson   16182  06/29/2024
4        Ashe   20412  06/29/2024
..        ...     ...         ...
94      Wayne   75158  06/29/2024
95     Wilkes   44451  06/29/2024
96     Wilson   55453  06/29/2024
97     Yadkin   25148  06/29/2024
98     Yancey   14439  06/29/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115044  07/06/2024
1   Alexander   25313  07/06/2024
2   Alleghany    8062  07/06/2024
3       Anson   16185  07/06/2024
4        Ashe   20415  07/06/2024
..        ...     ...         ...
94      Wayne   75189  07/06/2024
95     Wilkes   44443  07/06/2024
96     Wilson   55538  07/06/2024
97     Yadkin   25147  07/06/2024
98     Yancey   14435  07/06/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115109  07/13/2024
1   Alexander   25315  07/13/2024
2   Alleghany    8068  07/13/2024
3       Anson   16196  07/13/2024
4        Ashe   20409  07/13/2024
..        ...     ...         ...
94      Wayne   75178  07/13/2024
95     Wilkes   44483  07/13/2024
96     Wilson   55551  07/13/2024
97     Yadkin   25154  07/13/2024
98     Yancey   14429  07/13/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115147  07/20/2024
1   Alexander   25318  07/20/2024
2   Alleghany    8073  07/20/2024
3       Anson   16380  07/20/2024
4        Ashe   20405  07/20/2024
..        ...     ...         ...
94      Wayne   75161  07/20/2024
95     Wilkes   44480  07/20/2024
96     Wilson   55533  07/20/2024
97     Yadkin   25161  07/20/2024
98     Yancey   14442  07/20/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115085  07/27/2024
1   Alexander   25341  07/27/2024
2   Alleghany    8083  07/27/2024
3       Anson   16390  07/27/2024
4        Ashe   20422  07/27/2024
..        ...     ...         ...
94      Wayne   75225  07/27/2024
95     Wilkes   44533  07/27/2024
96     Wilson   55593  07/27/2024
97     Yadkin   25182  07/27/2024
98     Yancey   14448  07/27/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115077  08/03/2024
1   Alexander   25338  08/03/2024
2   Alleghany    8088  08/03/2024
3       Anson   16386  08/03/2024
4        Ashe   20428  08/03/2024
..        ...     ...         ...
94      Wayne   75429  08/03/2024
95     Wilkes   44583  08/03/2024
96     Wilson   55625  08/03/2024
97     Yadkin   25197  08/03/2024
98     Yancey   14448  08/03/2024

[99 rows x 3 columns]

       County   Total Week Ending
0    Alamance  115374  08/10/2024
1   Alexander   25371  08/10/2024
2   Alleghany    8096  08/10/2024
3       Anson   16389  08/10/2024
4        Ashe   20443  08/10/2024
..        ...     ...         ...
94      Wayne   75575  08/10/2024
95     Wilkes   44559  08/10/2024
96     Wilson   55715  08/10/2024
97     Yadkin   25200  08/10/2024
98     Yancey   14438  08/10/2024

[99 rows x 3 columns]

In [92]:
import pandas as pd

# Combine all weekly DataFrames into one
combined_weekly_df = pd.concat(voter_registration_by_fips_dfs, ignore_index=True)

# Ensure 'Week Ending' is in datetime format
combined_weekly_df['Week Ending'] = pd.to_datetime(combined_weekly_df['Week Ending'], format='%m/%d/%Y')

# Extract Year and Month from 'Week Ending'
combined_weekly_df['Year'] = combined_weekly_df['Week Ending'].dt.year
combined_weekly_df['Month'] = combined_weekly_df['Week Ending'].dt.month

# Group by County, Year, and Month, and sum the total registrations
monthly_totals_df = combined_weekly_df.groupby(['County', 'Year', 'Month']).agg({'Total': 'sum'}).reset_index()

# Sort by County, Year, and Month to ensure chronological order
monthly_totals_df.sort_values(by=['County', 'Year', 'Month'], inplace=True)

# Calculate the monthly change by comparing with the previous month
monthly_totals_df['Monthly Change'] = monthly_totals_df.groupby('County')['Total'].diff().fillna(0)

# The change for January (the first month) should be set to 0
monthly_totals_df.loc[monthly_totals_df['Month'] == 1, 'Monthly Change'] = 0

# Optionally, save the monthly changes to a CSV file
monthly_totals_df.to_csv('monthly_changes.csv', index=False)

# Display the first few rows of the monthly changes DataFrame
print(monthly_totals_df.head(30))

       County  Year  Month   Total  Monthly Change
0    Alamance  2024      1  453394             0.0
1    Alamance  2024      2  455407          2013.0
2    Alamance  2024      3  568740        113333.0
3    Alamance  2024      4  454302       -114438.0
4    Alamance  2024      5  453574          -728.0
5    Alamance  2024      6  573806        120232.0
6    Alamance  2024      7  460385       -113421.0
7    Alamance  2024      8  230451       -229934.0
8   Alexander  2024      1  100620             0.0
9   Alexander  2024      2  100865           245.0
10  Alexander  2024      3  125952         25087.0
11  Alexander  2024      4  100540        -25412.0
12  Alexander  2024      5  100435          -105.0
13  Alexander  2024      6  126715         26280.0
14  Alexander  2024      7  101287        -25428.0
15  Alexander  2024      8   50709        -50578.0
16  Alleghany  2024      1   31742             0.0
17  Alleghany  2024      2   31862           120.0
18  Alleghany  2024      3   39898          8036.0
19  Alleghany  2024      4   31993         -7905.0
20  Alleghany  2024      5   31964           -29.0
21  Alleghany  2024      6   40278          8314.0
22  Alleghany  2024      7   32286         -7992.0
23  Alleghany  2024      8   16184        -16102.0
24      Anson  2024      1   64811             0.0
25      Anson  2024      2   64818             7.0
26      Anson  2024      3   80454         15636.0
27      Anson  2024      4   64244        -16210.0
28      Anson  2024      5   64166           -78.0
29      Anson  2024      6   81040         16874.0